body {
    margin: 0 auto;
}

header {
    background-color: #000000d9;
    height: 80px;
    margin-bottom: 50px;
    padding-top: 20px;
    border-bottom-width: 5px;
    border-bottom-color: #4e4e4e;
    border-bottom-style: solid;
    box-shadow: 0 0 8px 3px #464646;
}

header img {
    width:140px;
    height:140px;
    background-color:black;
    box-shadow: 0 0 10px 2px #333232;
    border-bottom-width: 5px;
    border-bottom-color: #4e4e4e;
    border-bottom-style:solid;
}

header ul {
    background-color: transparent;
    list-style-type:none;
    display:flex;
}

header a {
    color:#cccccc;
    margin-right:20px;
}

header a:hover {
    cursor:pointer;
    color:aliceblue;
}

.card {
    width: 100%;
    height:400px !important;
    background-repeat:no-repeat;
    background-size:auto;
    background-color:transparent !important;
    margin:15px !important;
}

.colored {
    background-color: #0000008c;
    width: 70%;
    height: auto;  
    margin: 0 auto;
    margin-left: 100px;
    color: #e6e6e6;
    font-size:18px;
}

.colored {
    padding:30px;
}

.colored img {
    box-shadow: 0 0 4px 1px black;
}


.card:hover {
    cursor: pointer;
}

.mini-img {
    height:70px;
    width:70px;
    margin:10px
}

.mini-img:hover {
    border:3px solid white;
    transform:scale(1.1);
}

.row {
    margin: 0 auto;
}

.widths {
    margin: 0 auto;
}

body {
    background-image: url("/Image/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.society {
    background-color: transparent;
    list-style-type: none;
    display: flex;
}

.society li {
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:yellow;
    margin-right:20px;
}

.society a {
    color: black;
    font-size: 26.5px;
}

footer {
    background-color:black;
    padding:30px;
    height:200px;
    text-align:center;
}

footer img {
    width:70px;
    height:70px;
}

.different {
    list-style-type:none;
    color:white;
    text-align:left;
}

.different li {
    margin-bottom:10px;
}

.different a {
    color:white;
}

.different a:hover {
    color:whitesmoke;
}


.desc {
    background-color: #d2d0d0b8;
    color: #000000b8;
    margin-bottom:10px;
    height:auto;
    padding:40px;
/*    color: white;*/

}
.margin p {
    margin:10px;
}