@using EscapeQuest_DZ.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <header class="text-center d-flex justify-content-around align-content-around">
        <ul>
            @foreach (EscapeQuest item in ViewBag.Rooms)
            {
                <li value="@item.Name">
                    <a href="/Room/Index/@item.Name">@item.Name</a>
                </li>
            }
        </ul>
        <img src="~/Image/logo1.jpg" />
    </header>

    <div>
        @RenderBody();
    </div>

    <footer class="tex-center d-flex justify-content-around align-items-center">
        <img src="~/Image/logo2.png" />
        <ul class="different">
            <li><a href="#">About EscapeQuest</a></li>
            <li><a href="#">Certificate</a></li>
            <li><a href="#">Press about us</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
        <ul class="society">
            <li><a href="https://fb.com"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://pinterest.com"><i class="fab fa-pinterest-p"></i></a></li>
        </ul>
    </footer>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/39c9a805b6.js" crossorigin="anonymous"></script>
</body>
</html>
