<footer>
    <div class="d-flex justify-content-center">
        <div class="row d-flex align-items-center">
            <img class="logo" src="~/img/logo3.png" />
            <img class="logo-two" style="height: 90px;" src="~/img/logo4.png" />
        </div>
    </div>
    <div class="d-flex justify-content-around align-items-center">
        <div class="col">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted colored-li" href="#">Team</a></li>
                <li><a class="text-muted colored-li" href="#">Locations</a></li>
                <li><a class="text-muted colored-li" href="#">Privacy</a></li>
                <li><a class="text-muted colored-li" href="#">Terms</a></li>
            </ul>
        </div>
        <div class="col">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small colored-ul">
                <li><a class="text-muted colored-li" href="#">Business</a></li>
                <li><a class="text-muted colored-li" href="#">Education</a></li>
                <li><a class="text-muted colored-li" href="#">Government</a></li>
                <li><a class="text-muted colored-li" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col">
            <h5>Features</h5>
            <ul class="list-unstyled text-small colored-ul">
                <li><a class="text-muted colored-li" href="#">Cool stuff</a></li>
                <li><a class="text-muted colored-li" href="#">Random feature</a></li>
                <li><a class="text-muted colored-li" href="#">Team feature</a></li>
                <li><a class="text-muted colored-li" href="#">Stuff for developers</a></li>
                <li><a class="text-muted colored-li" href="#">Another one</a></li>
                <li><a class="text-muted colored-li" href="#">Last time</a></li>
            </ul>
        </div>
    </div>
    <p style="color:white">&copy;@DateTime.Now.Year - GAME STORE</p>
</footer>