<header class="row d-flex align-items-center justify-content-around">
    <div class="d-flex align-items-center align-self-center justify-content-around header-one">
        <p class="title">- is your gaming paradise <i class="fas fa-globe-europe"></i></p>
        <ul class="float-right d-flex align-items-center">
            <li class="float-right"><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
            <li class="float-right"><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
            <li class="float-right"><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
            <li class="float-right"><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></li>
            <li class="float-right"><a href="https://github.com"><i class="fab fa-github"></i></a></li>
            <li class="float-right"><a href="https://google.com"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
    </div>
    <div class="d-flex align-items-center justify-content-around header-two">
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="margin-right: 45px;">
            <button id="burger" class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span id="span"><i class="fas fa-bars"></i></span>
            </button>
        </nav>
        <div class="row d-flex align-items-center justify-content-around">
            <img class="logo" src="~/img/logo3.png" />
            <img class="logo-two" style="height: 90px;" src="~/img/logo4.png" />
        </div>
        <ul class="row text-center">
            <li class="float-right">
                <div class="col">
                    <i class="fas fa-home"></i>
                    <a href="/Games/Index"><p>Home</p></a>
                </div>
            </li>
            <li class="float-right">
                <div class="col">
                    <i class="fas fa-shopping-basket"></i>
                    <p>Shop</p>
                </div>
            </li>
            <li class="float-right">
                <div class="col">
                    <i class="fas fa-pen-nib"></i>
                    <p>Blog</p>
                </div>
            </li>
            <li class="float-right">
                <div class="col">
                    <i class="far fa-id-card"></i>
                    <p>Contacts</p>
                </div>
            </li>
            @if (Request.IsAuthenticated)
            {
                <li>
                    <div class="basket row" style="margin-top: 15px;color:#50409c;">
                        <span>Basket</span>
                        @*<i class="fas fa-shopping-cart"></i>*@
                        <div class="quantity" style="border-radius:50%;background-color:rgb(229, 79, 79);color:white;width:25px;height:25px;">@ViewBag.CountGames</div>
                    </div>
                </li>
                <li class="float-right">
                    <div class="col-lg-12 d-flex align-items-center" style="font-size: 19px">
                        @using (Html.BeginForm("Profile", "Auth", new { Name = User.Identity.Name }, FormMethod.Post))
                        {
                            <a class="row d-flex align-items-center" href="/Auth/Profile">
                                @if (User.Identity.Name == "admin")
                                {
                                    <i style="margin-right:5px;color:rgb(229, 229, 0)" class="fas fa-crown"></i>
                                }
                                else
                                {
                                    <i style="margin-right:5px;color:rgb(229, 229, 0)" class="fas fa-user"></i>
                                }
                                <p style="color:rgb(229, 229, 0);;margin-top:10px">@User.Identity.Name</p>
                            </a>
                        }
                    </div>
                </li>
                <li>
                    <div class="col" style="font-size: 25px">
                        <a href="/Auth/Logout">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                </li>
            }
            else
            {
                <li class="float-right">
                    <div class="col" style="font-size: 25px">
                        <a href="/Auth/Register">
                            <i class="fas fa-user-plus"></i>
                        </a>
                    </div>
                </li>
                <li class="float-right">
                    <div class="col" style="font-size: 25px">
                        <a href="/Auth/Login">
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>

</header>
