@using EscapeQuest_DZ.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="widths">
        <div class="container">
            <div class="row">
                @foreach (EscapeQuest item in ViewBag.Rooms)
                {
                <div class="col-sm-8" >
                    <div class="card bg-dark text-white d-flex justify-content-end" style="background-image:url(@item.Galleries.First().Image)" onclick="go(@item.Id)">
                        <div class="card-img-overlay">
                            <h5 class="card-title">@item.Name</h5>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
